  <div class='footer'>
    <div class='footer__content'>
      <div class='footer__infos'>
       <p><strong>StartOps.digital</strong>
        sorgt f&uuml;r Betrieb, Zufriedenheit und schafft freie Zeit f&uuml;r
        Kreativit&auml;t und Produktivit&auml;t.
        Wir lieben self-hosted L&ouml;sungen &uuml;bernehmen die Installation, Betrieb und Wartung von
        Management System, Kollaborations-Suiten und Software-Hosting
        L&ouml;sungen - von E-Mail Server und Webseite, bis hin zum eigenen
        Softwarestack.</p>
        <span>Copyright © 2023 ChainSquad GmbH. Alle Rechte vorbehalten.</span>
      </div>
      <div class='footer__columns'>
        <div class='footer__column'>
          <strong>Site</strong>
          <a href="/"> Home</a>
          <a href="/imprint"> Impressum</a>
          <a href="/agb"> AGB</a>
          <a href="/privacy"> Privacy</a>
        </div>
      </div>
    </div>
  </div>
  <script src="/assets/js/app.js"></script>
  <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.1.0/build/highlight.min.js"></script>
  <script>
   hljs.configure({ languages: ['mint'] })
   hljs.highlightAll();
  </script>
