<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title[page.lang] | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description[page.lang] }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="author" href="{{site.author}}"/>
  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}{% for post in posts %}
  <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url }}" />{% endfor %}
  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}{% for page in pages %}
  <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />{% endfor %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title[page.lang] }}" href="{{ site.feed[page.lang] | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">
  <link rel="stylesheet" media="screen" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.1.0/build/styles/atom-one-dark.min.css">
  <link rel="stylesheet" media="screen" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700|Source+Code+Pro:400,600|M+PLUS+Rounded+1c:500,700&amp;display=swap">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Open Graph Metadatas -->
  <meta content="{{ site.title.en }}" property="og:site_name">
{%- if page.title %}
  <meta content="{{ page.title }}" property="og:title">
  <meta content="article" property="og:type">
{%- else %}
  <meta content="{{ site.title.en }}" property="og:title">
  <meta content="website" property="og:type">
{%- endif %}
{%- if page.description %}
  <meta content="{{ page.description }}" property="og:description">
{%- else %}
  <meta content="{{ site.description }}" property="og:description">
{%- endif %}
{%- if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
{%- endif %}
{%- if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/about/" property="article:author">
{%- endif %}
{%- if page.image %}
  <meta content="/img/posts/{{ page.image }}" property="og:image">
{%- else %}
  <meta content="/img/logo-high-resolution.png" property="og:image">
{%- endif %}
{%- if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section">
  {% endfor %}
{%- endif %}
{%- if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag">
  {% endfor %}
{%- endif %}
 <script defer data-domain="startops.digital" src="https://p.chainsquad.com/js/script.js"></script>
</head>
