<div class='landing-section landing-section--green landing-section--inverse'>
  <svg viewbox='0 0 502.70832 13.229167' xmlns='http://www.w3.org/2000/svg'>
  <path d='M0 0s167.309 6.615 251.354 6.615C335.4 6.615 502.708 0 502.708 0v13.23H0z'></path></svg>
  <svg viewbox='0 0 502.70832 13.229167' xmlns='http://www.w3.org/2000/svg'>
  <path d='M0 0s167.309 6.615 251.354 6.615C335.4 6.615 502.708 0 502.708 0v13.23H0z'></path></svg>
  <div class='landing-section__content'>
    <h3><i class="fa fa-cogs"></i> Das Produkt</h3>
    <hr>
     <p>Zusammen bringen wir Ihr <code>web 2.0/3.0</code> Produkt auf den Markt.</p>
     <p><b><u>Wir sorgen f&uuml;r</u></b></p>
     <ul>
      <li>Betrieb</li>
      <li>Verf&uuml;gbarkeit</li>
      <li>Skalierbarkeit</li>
     </ul>
     <p><b><u>und schaffen damit Zeit f&uuml;r</u></b></p>
      <div class="landing__columns">
        <div class="landing__column">
         <p><b><i class="fa fa-lightbulb-o"></i> Kreativit&auml;t</b></p>
         <p><b><i class="fa fa-line-chart"></i> Produktivit&auml;t</b></p>
         <p><b><i class="fa fa-bullseye"></i> Fokus</b></p>
      </div>
    </div>
     </ul>
     <p>f&uuml;r das was wichtig ist: <b><i class="fa fa-trophy"></i> Ihre Idee</b> umzusetzen!</p>
    </p>
    <hr>
  </div>
  <pre class='landing-snippet'><code class='python'>
class YourApp:
   def develop(self):
     ...

   def bundle(self):
     ...

   def monetize(self):
     ...

class StartOpDigital(YourApp):
   def deploy(self):
     ...

   def upgrade(self):
     ...

   def monitor(self):
     ...

   def alert(self):
     ...

</code></pre>
</div>
