<div class='landing-section landing-section--green landing-section--inverse'>
  <svg viewbox='0 0 502.70832 13.229167' xmlns='http://www.w3.org/2000/svg'>
  <path d='M0 0s167.309 6.615 251.354 6.615C335.4 6.615 502.708 0 502.708 0v13.23H0z'></path></svg>
  <svg viewbox='0 0 502.70832 13.229167' xmlns='http://www.w3.org/2000/svg'>
  <path d='M0 0s167.309 6.615 251.354 6.615C335.4 6.615 502.708 0 502.708 0v13.23H0z'></path></svg>
  <div class='landing-section__content'>
    <h3><i class="fa fa-road"></i> Datenbanken</h3>
    <hr>
    <p>
    Ob Datenbank wie <code>#mysql</code> und <code>#postgres</code>, <code>#redis</code>, und <code>#elasticsearch</code>, oder gleich <code>#mongodb</code>, wir betreiben Sie, und zwar bei uns.
    </p>
    <p>Auf Wunsch, als eigene Instanz, eigenes Cluster, oder Datenbank-as-a-service.
    <hr>
  </div>
  <pre class='landing-snippet'><code class= 'python'>class Postgres(AbstractDatabase) {
 def deploy(self):
   pass

 def monitor(self):
   pass

 def alert(self):
   pass
}

</code></pre>
</div>
