<div class='landing-section'>
  <div class='landing-section__content'>
    <h3>Quellversionierung</h3>
    <hr>
    <p>F&uuml;r maximale Sicherheit und Kontrolle:</p>
    <ul>
      <li>eigene <i class="fa fa-git"></i> Versionierung</li>
      <li><code>CI/CD</code> f&uuml;r <code>#testing</code> und <code>#deployment</code></li>
      <li>Benutzeroberfl&auml;che</li>
    </ul>
    <p>Im Einsatz: <code>gitea</code>, <code>gitlab</code> und <code>gitosis</code></p>
    <hr />
  </div>
  <pre class='landing-snippet'><code class='bash'>>>> git remote add origin git@git.your.biz
>>> git add .
>>> git commit -m "feat(admin): full control"
>>> git push</code></pre>
</div>
