<div class='landing-section landing-section--inverse landing-section--purple'>
  <svg viewbox='0 0 502.70832 13.229167' xmlns='http://www.w3.org/2000/svg'>
  <path d='M0 0s167.309 6.615 251.354 6.615C335.4 6.615 502.708 0 502.708 0v13.23H0z'></path></svg>
  <svg viewbox='0 0 502.70832 13.229167' xmlns='http://www.w3.org/2000/svg'>
  <path d='M0 0s167.309 6.615 251.354 6.615C335.4 6.615 502.708 0 502.708 0v13.23H0z'> </path></svg>
  <div class='landing-section__content'>
   <h3><i class="fa fa-flag-checkered"></i> Zusammen ans Ziel</h3>
    <hr>
     <p>Mit unserer Expertise <b>schnell</b> schnell online mit dem <code>#mvp</code>.
      Danach <code>#iterieren</code> und <code>#skalieren</code> mit <b>StartOp</b>
     </p>
    <hr>
  </div>
  <pre class='landing-snippet'><code class='bash'>>>> make
⠧ Bauen       ━━━━━━━━━━━━━━━━╸  51% 0:14:20
⠧ Betreiben   ━━━━━━━━━━━━━━     49% 0:12:34
⠧ Profitieren ━━━━━━━━━━━━━━
</code></pre>
</div>
