<div class='landing'>
  <div class='landing-hero'>
    <div class='landing-hero__left'>
      <!-- logo here //-->
      <h1><i class="fa fa-battery-full"></i> Batteries included.</h1>
      <h2>Bring dein StartUp ins <b>digital</b>-Zeitalter. Wir kümmern uns um das <b>Außenrum</b>.</h2>
      <div class="landing__columns">
        <div class="landing__column">
          <p><i class="fa fa-envelope-o"></i> Email</p>
          <p><i class="fa fa-commenting-o"></i> Chat Systems</p>
          <p><i class="fa fa-clock-o"></i> Time Tracking</p>
          <p><i class="fa fa-pencil-square-o"></i> Wiki</p>
          <p><i class="fa fa-vcard-o"></i> CRM</p>
          <p><i class="fa fa-bar-chart"></i> Project Mangagment</p>
          <p><i class="fa fa-wordpress"></i> Wordpress</p>
        </div>
      </div>
    </div>
    <div class='landing-hero__right'>
      <pre class='landing-snippet'><code class='python'>class Business:
  services: List[Service] = {
   "mail",
   "chat",
   "time",
   "wiki",
   "crms",
   "proj",
   "blog"
  }

  @property
  def domain(self, name):
    return f"{self.services.get(name)}.your.biz"</code></pre>
  </div>
</div>
